:root{
    --blue-color:#6440fb;
    --blue-light-color:#6540fb21;
    --blue-dark-color:#0a0229;
    --green-color:#00ff84;
    --black-color:#000;
    --white-color:#fff;
    --gray-color:#878787;
}
.adwantage-card{
    background-color: var(--blue-dark-color);
    text-align: center;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin-bottom: 20px;
    border-radius: 20px 20px 0 0;
    position: relative;


}
.adwantage-card-body{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height:250px;
    background-color: var(--white-color);
    padding: 20px;
    color: var(--blue-dark-color);
    border-radius: 20px 20px 0 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.adwantage-card-header{
    border-radius: 20px 20px 0 0;
    margin-bottom: 0 !important;
}
.adwantage-card:hover .adwantage-card-body{
    
}
.adwantage-card:hover{
    background-color: var(--green-light-color);
    cursor: pointer;
}
.adwantage-card p{
   color: var(--black-color);
}